<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button (click)="vanilla()">Print Vanilla</button>
      <button (click)="vanillaReactive()">Print Vanilla Reactive</button>
      <button (click)="bs()">Print BS</button>
    </div>
    <div class="col-12">
      <div class="row">
        <p class="col-6">Control Valid (Vanilla): {{ queryCtrl.valid }}</p>
        <div class="col-6">
          <label><input type="checkbox" (change)=switchModes($event)>Entity Mode</label>
        </div>
      </div>
      <div class="row">
        <p class="col-6">Control Touched (Vanilla): {{ queryCtrl.touched }}</p>
        <div class="col-6">
          <label><input type="checkbox" (change)=changeDisabled($event)>Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label><input type="checkbox" [(ngModel)]='allowRuleset'>Allow Ruleset</label>
        </div>
        <div class="col-6">
          <label><input type="checkbox" [(ngModel)]='allowCollapse'>Allow Collapse</label>
        </div>
        <div class="col-6">
          <label><input type="checkbox" [(ngModel)]='persistValueOnFieldChange'>Persist Values on Field Change</label>
        </div>
      </div>

      <!-- <textarea class="output">{{query | json}}</textarea> -->
      <textarea class="output">{{basicRulesetToSQL(queryForm.get('queryField').value)}}</textarea>
    </div>
    <!-- <div class="col-12">
      <h2>Vanilla FormControl</h2>
      <br>
      <query-builder [formControl]='queryCtrl' [config]='currentConfig' [allowRuleset]='allowRuleset'
        [allowCollapse]='allowCollapse' [persistValueOnFieldChange]='persistValueOnFieldChange'>
        <ng-container *queryInput="let rule; type: 'textarea'; let getDisabledState=getDisabledState">
          <textarea class="text-input text-area" [(ngModel)]="rule.value" [disabled]=getDisabledState()
            placeholder="Custom Textarea"></textarea>
        </ng-container>
      </query-builder>
    </div>
    -->
    <div class="col-12">
      <h2>Vanilla Reactive Form</h2>
      <br>
      <form *ngIf="queryForm" [formGroup]="queryForm">
        <query-builder #queryBuilder formControlName='queryField' [classNames]='bootstrapClassNames' [config]='currentConfig'
          [allowRuleset]='allowRuleset' [allowCollapse]='allowCollapse'
          [persistValueOnFieldChange]='persistValueOnFieldChange'>
          <ng-container *queryInput="let rule; type: 'textarea'; let getDisabledState=getDisabledState">
          <textarea class="text-input text-area" [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" [disabled]=getDisabledState()
            placeholder="Custom Textarea"></textarea>
        </ng-container>
        </query-builder>
      </form>
    </div>
    <div class="col-12">
      <h2>Bootstrap</h2>
      <br>
      <!-- <query-builder [(ngModel)]='query' [classNames]='bootstrapClassNames' [config]='currentConfig'
        [allowRuleset]='allowRuleset' [allowCollapse]='allowCollapse'
        [persistValueOnFieldChange]='persistValueOnFieldChange'>
        <div class="col-auto" *queryInput="let rule; type: 'textarea'">
          <textarea class="form-control" [(ngModel)]="rule.value" placeholder="Custom Textarea"></textarea>
        </div>
      </query-builder> -->
    </div>
  </div>
</div>